
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;700&family=Montserrat:wght@300&display=swap");
.container {
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: "Inter", sans-serif;
  }
  .row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    height: 380px;
    row-gap: 20px;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .image {
    flex-basis: 57%;
  }
  .description {
    flex-basis: 28%;
    align-self: center;
  }
  .description h1 {
    font-size: 35px;
  }
  .description p {
    font-size: 25px;
  }
  .wrapper div:nth-child(even) .image{
    order: 2;
  }
  figure{
    height:380px;
  }

  /* responsive media queries */

  @media screen and (max-width:600px){
    .row{
      display: flex;
      flex-direction: column;
      row-gap:30px;
    }
    .container{
      width:100%;
      padding:1.4rem;
    }

    .wrapper div .image{
      order: 1;
    }
  }