@import "../mixins/flex-column";
@import "../mixins/typography";
.container-destination{
    @media (min-width:600px){
        padding:2rem;
    }
}
.header {
  @include flex-column(column,4rem);
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  &__title1 {
    @include typography(
      $fontsize-body-1,
      $font-weight-body-1,
      $line-height-body-1,
      $army-green
    );
  }

  &__title2 {
    @include typography(
      $fontsize-h1,
      $font-weight-h1,
      $line-height-h1,
      $h1-color
    );
  }
}

.destination {
  &__item {
    @include flex-column(column , 2.2rem);
    height:34rem;
    width: 36rem;
    border-radius: 1rem;
    padding: 2rem;
    // background-color: red;
    box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.25);
    &:hover{
      background-color: green;
    }
    &__img {
      width: 36.5rem;
      height: 22.7rem;
    }
    &__title {
      @include typography(
        $fontsize-h2,
        $font-weight-h2,
        $line-height-h2,
        $h1-color
      );
    }
    &__details {
      @include flex-column(row, 0);
      justify-content: space-between;
  
      &__price {
        @include typography(
          $fontsize-body-1,
          $font-weight-body-1,
          $line-height-body-1,
          $army-green
        );
    }
    &__duration {
      @include typography(
        $fontsize-body2,
        $font-weight-body2,
        $line-height-body2,
        $h1-color
      );
      position: relative;
      &:before {
        content: "";
        background: url("../../topdestination/images/Vector\ \(1\).png");
        height: 1.8rem;
        width: 1.8rem;
        position: absolute;
        top: 0.5rem;
        left: -3rem;
        background-size: cover;
      }
    }
    }
  }

}
