@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;700&family=Montserrat:wght@300&display=swap");
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 1rem;
    max-width: 100%;
}
.img-min figure{
    width:min(300px , 50vw);
}
.img-max figure{
    width:max(200px , 50vw)
}

.img-clamp figure{
    width:clamp(20vw , 30vw , 40vw);
}

@media screen and (max-width:480px) {
    .img-media figure{
        width:100%;
        height:50%;
    }
}
@media screen and (min-width:480px)  and (max-width:768px){
    .img-media  figure{
        width:60%;
        height:30%;
    }
}
@media screen and (min-width:769px) {
    .img-media  figure{
        width:40%;
        height:30%;
    }
}