@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:root{
    --bgcolor:#f6f6f6;
    --white:#ffffff;
    --lightgreen:#E4F2FF;
    --grey:#D1DFBF;
    --pink:#F9DBDB;
    --textcolor:#575757;
    --dark:#515151;
    --primary:#0047FF;
    --secondary:#B75F5F;
   --orange:#E70606;
   --bold:bold;
   --header_font_size:48px;
}
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
}

h1 , h2 , p , h3{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
   background-color:var(--bgcolor);
   width:80vw;
   margin: 100px auto;
   
}
/* start of css for page 1 */
.main-content{
    width:80%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    padding:100px 0;
}
.main-content__header{
    font:var(--bold);
    font-size: var(--header_font_size);
}
.main-content__description{
     width:80%;
     margin:auto;
     text-align: center;
     font-size:20px;
     color:var(--textcolor);
     font-weight:400;
     line-height: 1.5rem;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
}
.card__item{
   display: flex;
   flex-direction: column;
   row-gap: 20px;
   padding:25px;
   justify-content: center;
   align-items: center;
   flex-basis: 25%;
}
.card__item--white{
    background-color: var(--white);
}
.card__item--lightgreen{
    background-color: var(--lightgreen);
}

.card__item--grey{
    background-color: var(--grey);
}

.card__item--pink{
    background-color: var(--pink);
}
.card__description{
    text-align: justify;
    line-height: 1.5em;
    font-size:14px;
    color:var(--textcolor);
    font-weight: 400;
}
.card__title{
     font:var(--bold);
     font-size: 18px;
}

.card__button{
    margin-top: 30px;
    padding:10px 20px;
    color:var(--white);
    font-size:15px;
    font:var(--bold);
    cursor: pointer;
    
}
.card__button:focus{
    outline: none;
}

.card__button--dark{
    background-color: var(--dark);
}

.card__button--primary{
    background-color: var(--primary);
}

.card__button--secondary{
    background-color: var(--secondary);
}

/* end of css for page 1 */


/* Start of CSS for page 2 */
.content{
    width:60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    padding:100px 0;
    height:auto;
}
header{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.header__title{
    color:var(--orange);
    font:var(--bold);
    font-size:var(--header_font_size);
}

.header__description{
    color:var(--textcolor);
    font-size: 20px;
    width: 80%;
    text-align:center;
    
}

.wrapper{
    display:flex;
    flex-direction:column;
    row-gap:30px;
    
}

.wrapper-row{
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: space-between;
   
    
}
.wrapper-col1{
    display: flex;
    flex-direction: column;
    row-gap:10px;
    flex-basis: 35%;
    justify-content: center;
    align-items: start;
    
}
.wrapper-col2{
    display: flex;
    flex-direction: column;
    row-gap:10px;
    flex-basis: 40%;
    justify-content: center;
    align-items: start;
    
}

.wrapper-col__description{
    font-size: 16px;
    text-align: justify;
    line-height: 1.5em;
    color:var(--textcolor)
}

.card__button--orange{
    background-color: var(--orange);
}

.wrapper__circle{
    height:440px;
    width:440px;
    border-radius:50%;
    position: relative;
    background-color: var(--pink);
}

.wrapper__image{
    position: absolute;
    top: -12px;
    left: -29px;
    bottom: 15px;
    right: 15px;
}
.wrapper__image--rounded{
    border-radius: 50%;
}
figure{
    height:428px;
    width: 410px;
}

.wrapper div:nth-child(2) .wrapper-col1 {
    order:2; 
}
.wrapper-col__title{
   font:var(--bold);
   font-size: 32px;
}

