$button-color:#43B97F;
$text-color:#ffffff;
$army-green:#295943;
$light-black:#7E7E7E;
$white:#ffffff;
$black:#000000;
$light-green:#43B97F;
$h1-color:black;
$font-family:"Poppins", sans-serif;
$fontsize-body-1:1.6rem;
$font-weight-body-1:700;
$line-height-body-1:2.88rem;

$fontsize-body-1-regular:1.4rem;
$font-weight-body-1-regular:400;
$line-height-body-1-regular:1.4rem;

$fontsize-h1:2.8rem;
$font-weight-h1:700;
$line-height-h1:3.33rem;

$fontsize-h2:2rem;
$font-weight-h2:700;
$line-height-h2:3.45rem;


$fontsize-body2:1.4rem;
$font-weight-body2:400;
$line-height-body2:2.52rem;

$fontsize-title:4rem;
$font-weight-title:400;
$line-height-title:4rem;



